table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;

    padding: 0.5em;
}

tr:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

th:hover {
    cursor: default;
}

.number, .sprite {
    text-align: center;
}

.sprite img {
    width: 48px;
    height: 48px;
}

.tablecontainer {
    overflow-x: auto;
}

#details {

    position: fixed;
    top: 20%;
    left: 40%;

    /* background-color: whitesmoke;
    border: 1px solid black; */


    display: flex;

    >div {

        >div {
            display:flex;
            justify-content: space-between;
            margin: 1em 0;

            h1 {
                margin: 0;
            }

        }
    }
}

#infos {
    background-color: whitesmoke;
    padding: 2.5em;
}